body {
    margin: 0;
    background-color: grey;
}

.canvas {
    margin: 2em;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.square {
    min-width: var(--sqSize);
    min-height: var(--sqSize);
}